* {
    font-family: "Georgia", serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

.date {
    border-radius: 25px;
    border: 2px, solid, #FFFFFF;
    width: 40px;
    height: 40px;
}

.date .red {
    background-color: rgb(255, 0, 0);
}

.date .green {
    background-color: rgb(0, 255, 0);
}

.date .blue {
    background-color: rgb(0, 0, 255);
}