* {
    font-family: "Helvetica", serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.top {
    display: inline-block;
}

button {
    color: white;
    border: 2px solid white;
    background: black;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    color: black;
    background-color: white;
}

#month {
    color: white;
    vertical-align: middle;
}

.grid {
    border-spacing: 5px;
    border: 2px solid white;
    width: 360px;
    margin: 0px auto;
}

.date,
.date31 {
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    width: 30px;
    height: 40px;
    text-align: center;
}

.date:hover,
.date31:hover {
    font-weight: 900;
}

th {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;
}

.list {
    border: 2px solid white;
    border-radius: 10px;
    border-spacing: 5px;
    width: 1000px;
    white-space: nowrap;
    margin: 0px auto;
}

.lastrow {
    border: 2px solid white;
    border-radius: 10px;
    display: none;
}

#add {
    display: none;
}

#cancel {
    display: none;
}

select {
    width: 300px;
}

.content {
    color: white;
    text-align: center;
    border-spacing: 5px;
}

#red {
    background-color: rgb(255, 0, 0);
}

#green {
    background-color: rgb(0, 255, 0);
}

#blue {
    background-color: rgb(0, 0, 255);
}